html{
    scroll-behavior: smooth;
}

body{
  background-color: #ffffff;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', sans-serif;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav ul{
  list-style-type: none;
}

nav li{
  display: inline;
  padding-right: 20px;
}

nav{
  background-color: #ddd;
  padding: 25px 0;
  text-align: left;
}

header p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

footer{
  background-color: white;
  color: black;
  padding-top: 30px;
  text-align: center;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

#current{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}

.skip a:focus, .skip a:active{
  position: absolute;
  top: auto;
}

:focus {
  border: solid 2px;
}

.container{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-row-gap: 15px;
}

header{
  background-attachment: fixed; /* Parallax effect */
  background-position: center; /* Parallax effect */
  background-size: cover; /* Parallax effect */
  color: white;
  height: 400px; /* Parallax effect */
  background-image: url("../images/home.jpg");
  background-repeat: no-repeat;
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column: 1/-1;
}

.about-header{
  background-attachment: fixed; /* Parallax effect */
  background-position: center; /* Parallax effect */
  background-size: cover; /* Parallax effect */
  color: black;
  height: 500px; /* Parallax effect */
  background-image: url("../images/about.JPG");
  background-repeat: no-repeat;
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column: 1/-1;
}

.bg-image{
  grid-column-start: 1;
  grid-column-end: span 3;
  max-height: 500px;
  overflow: hidden;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.about{
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.resume{
  padding: 30px;
}

.resume-image{
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-block{
  background-color: rgba(255, 255, 255, .8);
  border: 5px solid black;
  padding: 20px;
  align-self: center;
}

.work-image{
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.work-name{
  text-align: center;
}

@media screen and (min-width: 850px){
  .text-block{
    background-color: rgba(255, 255, 255, .8);
    border: 5px solid white;
    padding: 20px;
    align-self: center;
  }

  nav{
    padding-left: 30px;
  }

  .work-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-row-gap: 30px;
  }

  .work-header{
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column: 1/-1;
    text-align: center;
  }

  .work-image{
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #ddi{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
  }
  #kiddo{
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
  }
  #meetful{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
  #courum{
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
  #hydrohomie{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
  }
  #mealpreppers{
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
  }
  #collegerecipe{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 1;
  }
  #cup{
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 1;
  }
  #bus{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 6;
    grid-row-end: span 1;
  }

  .resume-container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .about-header{
    background-attachment: fixed; /* Parallax effect */
    background-position: center; /* Parallax effect */
    background-size: cover; /* Parallax effect */
    color: black;
    height: 500px; /* Parallax effect */
    background-image: url("../images/about.JPG");
    background-repeat: no-repeat;
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column: 1/-1;
  }
  .about-header h1{
    text-align: left;
    padding-left: 30px;
  }
}